TD.FrontPageForums
{
    width: 100%;
    display: block;
}

/*

ORIGINAL STYLING END

*/


body {
    min-width: 100% !important;
}
/* Frontpage */

table.forums .forumhead h2 {
    font-size: 1rem;
    padding-left: 2%;
}
h2.forumtitle {
    font-size: 1rem !important;
}

.forumbit_post .foruminfo .forumdata .forumtitle a {
	font-size: 1rem;
}
TABLE.forums DIV.forumdata P.forumdescription {
    font-size: 1rem;
    display: none;
}

table.forums .forumbit_post td {
	padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 0px;
    padding-left: 5px !important;
    background-image: none !important;
}

table.forums .forumbit_post td .forumdata { margin: 0px; }

.forumbit_post .foruminfo .forumdata .viewing {

}

TD.last_post_column {
    max-width: 118px;
    min-width: 118px;
    width: 118px;
}

table.forums .forumbit_post td.alt {
    padding: 2px !important;
}

DIV.LastPostAvatar {
    height: 24px;
    width: 24px;
}

.lastpostdate img {
    display: none;
}

/* Header */
.above_body {
    padding-bottom: 15px;
    margin-bottom: 30px;
}
#header {
	background: none;
    box-shadow: none;
    border-bottom: none;
    height: auto;
}
#header div:not(#navbar-login) {
    display: none;
}
#navbar-login {
    height: 100%;
    font-size: 0.9rem;
    margin-right: 5%;
    padding: 0px;
    margin-top: 15px;
}
#header #breadcrumb {
    display: block !important;
    height: auto !important;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15px;
    width: auto;
}
#header #breadcrumb>a,
#header #breadcrumb .navbit {
    display: inline-block;
    margin-bottom: 5px !important;
}

#header #breadcrumb .navbit:nth-child(4){
    /*overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-inline-box;
    -webkit-box-orient: vertical;*/
}
#header #breadcrumb .navbit,
#header #breadcrumb a {
    font-size: 0.9rem;
}
#header #breadcrumb #lastelement {
    display:block;
    padding: 0px;
    font-size: 1.3rem;
}

/* Header end */


table.forums .forumhead h2 {
    color: #fff;
}
#content_inner {
    margin: 0px 3%;
}
.above_threadlist {
    display: none;
}

/* Thread list */
.threadlastpost,
.threadreplies,
.threadviews,
.threadicon {
    display: none;
}

table#threads h3.threadtitle .title {
 	font-size: 1.2rem !important;
    display: block;
    margin-bottom: 10px;
    word-break: break-word !important;
}
table#threads tr.threadbit td.threadinfo .threadpagenav {
    margin-bottom: 10px;
    font-size: 0.85rem;
}

table#threads .threadmeta .author a {
 	font-size: 0.9230769230769231rem;
}

table#threads .inner {
    position: relative;
    padding: 10px 18px;
}
table#threads .threadmeta .minicons { display: none; }

table#threads tr.threadbit td.threadinfo .newposts {
    right: 0px;
    margin-bottom: 10px;
    font-size: 1rem !important;
    font-weight: bold !important;
    padding: 5px;
}
.threadinfo { font-size: 0.8rem; }

table#threads tr.threadbit td.threadinfo .newposts img { display: inline-block; }
table#threads td.threaddeleted { display: none; }

table#threads tr.threadlisthead td {
 	font-size: 20px !important;
}

.newcontent_textcontrol {
	position: relative !important;
    font-size: 1rem;
}

/* Thread list END */

/* Pagination */
.pagination { display: none; }

.pagination span a {
	font-size: 0.9230769230769231rem !important;
    padding: 4px 6px 4px 6px !important;
}

#above_postlist {
    margin-bottom: 0px !important;
}

#below_threadlist {
    height: 56px;
}

.threadpagenav {
    float: none;
}

div#below_threadlist div.threadpagenav {
 	margin: 0px;
}


/* thread */
ol#posts .postbitlegacy .postdetails .video {
	/*height: auto;*/
}

DIV.quote img, DIV.quote video, IMG.thumbnail {
	max-width: 100% !important;
}

ol#posts .postbitlegacy .postdetails .postbody {
	margin-left: 10px;
    margin-right: 10px;
    clear: both
}

ol#posts .postbitlegacy .postdetails .postbody .postcontent img {
	max-width: 100% !important;
}

ol#posts .postbitlegacy .postdetails .postbody .postcontent {
    padding-right: 10px;
    font-size: 1rem;
}


.pagination  {
	overflow-x: scroll;
    max-width: 100%;
}

/* Quotes */
ol#posts .postbitlegacy .postdetails .postbody .postcontent .quote {
 	display: block;
}
ol#posts .postbitlegacy .postdetails .postbody .postcontent .quote .message {
    font-size: 0.9rem;
}

ol#posts .postbitlegacy .postdetails .userinfo {
                                            width: calc(100% - 18px);
}
ol#posts .postbitlegacy .postdetails .userinfo .username_container,
ol#posts .postbitlegacy .postdetails .userinfo .usertitle {
 	margin-left: 75px;
    float: left;
}

ol#posts .postbitlegacy .postdetails .userinfo .username_container {
    margin-top: 8px;
}
ol#posts .postbitlegacy .postdetails .userinfo .username_container a.username {
	font-size: 0.9230769230769231rem;
    margin-bottom: 10px;
    margin-top: 20px !important;
}

ol#posts .postbitlegacy .postdetails .userinfo .usertitle,
ol#posts .postbitlegacy .postdetails .userinfo .usertitle * {
 	font-size: 0.8rem !important;
}
ol#posts .postbitlegacy .postdetails .userinfo .usertitle * {
}

ol#posts .postbitlegacy .postdetails .userinfo #userdata div.imlinks {
    position: absolute;
    left: 63px;
    top: 50px;
    text-align: left;
    vertical-align: top;
    width: auto !important;
}
ol#posts .postbitlegacy .postdetails .userinfo #userdata div.imlinks a {
	margin-right: 5px;
    vertical-align: top;
}
ol#posts .postbitlegacy .postdetails .userinfo #userdata #userstats {
	font-size: 0.9230769230769231rem;
    display: none;
}
#userdata {
 	height: 60px;
    padding-top: 0px !important;
}
#userdata>a {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: center;
    width: 60px;
}

.rating_results span {
	visibility: visible;
    position: relative;
    display: inline-block;
    width: auto;
    height: 22px;
    vertical-align: middle;
    font-size: 0px;
}

.rating_results span a,
.rating_results span strong {
 	visibility: visible;
}

.rating_results span strong {
 	margin-left: 2px;
    margin-right: 2px;
    font-size: 12px;
}
.rating_results span strong:before {
    content: 'x ';
    font-weight: normal;
    font-size: 0.8rem;
}


#userdata a img {
 	max-height: 60px;
    max-width: 50px;
}

ol#posts .postbitlegacy .postfoot {
    height: 80px !important;
    padding-top: 0px;

}
ol#posts .postbitlegacy .postfoot .postcontrols { width: 100%; }
ol#posts .postbitlegacy .postfoot .postcontrols .postrating {
 	float: left;
    margin-left: 10px;
    margin-bottom: 10px;
    position: absolute;
    bottom: 47px;
    padding-top: 10px;
}
ol#posts .postbitlegacy .postfoot .postcontrols .postrating a:first-child  {
	margin-left: 0px;
}
ol#posts .postbitlegacy .postfoot .postcontrols .postrating a {
 	margin-left: 6px;
}

ol#posts .postbitlegacy .postfoot .postcontrols a.editpost  {
 	font-size: 0.7rem;
	position: absolute;
    bottom: 0px;
    right: 67px;
}

ol#posts .postbitlegacy .postfoot .postcontrols a.newreply  {
 	font-size: 0.7rem;
	position: absolute;
    bottom: 0px;
    right: 0;
}

div.threadhead h2 span a {
 	font-size: 0.8rem;
}

ol#posts .postbitlegacy .postfoot {
	height: auto;
}

/* Useragent and browser */
ol#posts .postbitlegacy .postfoot .postlinking {
   	display: block;
	position: absolute;
    bottom: 30px;
    left: 7px;
}
ol#posts .postbitlegacy .postfoot .postlinking a {
    display: none;
}
ol#posts .postbitlegacy .postfoot .postlinking img {
	margin-right: 2px;
}
ol#posts .postbitlegacy .postfoot .postlinking img:nth-child(3) {
    /*display: none;*/
}


ol#posts .postbitlegacy .postfoot .rating_results {
 	margin-left: 10px;
    position: absolute;
	top: inherit;
    bottom: 5px;
    white-space: normal;
    vertical-align: bottom;
}

ol#posts .postbitlegacy .postfoot .rating_results span a {
    content: \" x \";
}

ol#posts .postbitlegacy .postfoot .rating_results a.rating_users {
 	margin: 5px 0px 0px 0px;

}


.popupbox {
    margin-top: 0px;
}


/* Footer */
div#footer {
    padding-bottom: 60px;
}

div#footer .footer_links {
 	font-size: 0.8rem;
 	text-indent: -9999px;
 	color: transparent;

}

div#footer .footer_links a:last-child {
    display: none;
}


/* Member Page */
.member_summary {
 	width: 100%;
}
.member_tabs {
	margin-left: 0px;
}

/* Private messages */
#usercp_nav {
	width: 100%;
}
#usercp_content .cp_content {
 margin-left: 0px;
}

.pmlist .blockrow .threadicon {
    display: block;
}

#showpm DIV.quote img, DIV.quote video, IMG.thumbnail, DIV.quote .imgur-album {
	max-width: 100% !important;
}

#showpm ol .postbitlegacy .postdetails .postbody {
	margin-left: 10px !important;
    margin-right: 10px !important;
    clear: both;
}

#showpm ol .postbitlegacy .postdetails .postbody .postcontent img {
	max-width: 100% !important;
}

#showpm ol .postbitlegacy .postdetails .postbody .postcontent {
    padding-right: 10px !important;
    font-size: 1rem !important;
}
/* PM Quotes */
#showpm ol .postbitlegacy .postdetails .postbody .postcontent .quote {
 	display: block;
}
#showpm ol .postbitlegacy .postdetails .postbody .postcontent .quote .message {
    font-size: 0.9rem;
}

#showpm ol .postbitlegacy .postdetails .userinfo {
    width: 100% !important;
}

#showpm ol .postbitlegacy .postdetails .userinfo .username_container,
#showpm ol .postbitlegacy .postdetails .userinfo .usertitle {
 	margin-left: 75px;
    float: left;
}

#showpm ol .postbitlegacy .postdetails .userinfo .username_container {
    margin-top: 8px;
}
#showpm ol .postbitlegacy .postdetails .userinfo .username_container a.username {
	font-size: 0.9rem !important;
    margin-bottom: 10px;
    margin-top: 20px !important;
}

#showpm ol .postbitlegacy .postdetails .userinfo .usertitle {
 	font-size: 0.8rem !important;
}
#showpm ol .postbitlegacy .postdetails .userinfo .usertitle * {
 	font-size: 0.8rem !important;
}

#showpm ol .postbitlegacy .postdetails .userinfo #userdata div.imlinks {
    position: absolute;
    left: 63px;
    top: 50px;
    text-align: left;
    vertical-align: top;
    width: auto !important;
}
#showpm ol .postbitlegacy .postdetails .userinfo #userdata div.imlinks a {
	margin-right: 5px;
    vertical-align: top;
}
#showpm ol .postbitlegacy .postdetails .userinfo #userdata #userstats {
	font-size: 0.8rem;
    display: none;
}
#showpm #userdata {
 	height: 60px;
    padding-top: 0px !important;
}
#showpm #userdata>a {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: center;
    width: 60px;
}

#showpm #userdata a img {
 	max-height: 60px;
    max-width: 50px;
}

#showpm ol#posts .postbitlegacy .postfoot {
    height: 80px !important;
    padding-top: 0px;

}
#showpm ol .postbitlegacy .postfoot .postcontrols { width: 100%; }
#showpm ol .postbitlegacy .postfoot .postcontrols .postrating {
 	float: left;
    margin-left: 10px;
    margin-bottom: 10px;
    position: absolute;
    bottom: 47px;
    padding-top: 10px;
}
#showpm ol .postbitlegacy .postfoot .postcontrols .postrating a:first-child  {
	margin-left: 0px;
}
#showpm ol .postbitlegacy .postfoot .postcontrols .postrating a {
 	margin-left: 6px;
}

#showpm ol .postbitlegacy .postfoot .postcontrols a.editpost  {
 	font-size: 0.8rem !important;
	position: absolute;
    bottom: 0px;
    right: 67px;
}

#showpm ol .postbitlegacy .postfoot .postcontrols a.forwardpost {
    font-size: 0.8rem !important;
    position: absolute;
    bottom: 0px;
    right: 65px;
}

#showpm ol .postbitlegacy .postfoot .postcontrols a.newreply  {
 	font-size: 0.8rem !important;
	position: absolute;
    bottom: 0px;
    right: 0;
}

#showpm div.threadhead h2 span a {
 	font-size: 0.9rem !important;
}

#showpm ol .postbitlegacy .postfoot {
	height: auto;
}

#showpm ol .postbitlegacy .postdetails .userinfo {
    width: 100%;
}

#showpm ol .postbitlegacy .postdetails .userinfo #userdata div.imlinks {
    position: absolute;
    left: 63px;
    top: 50px;
    text-align: left;
    vertical-align: top;
    width: auto !important;
}


/* PM END */

/* New thread */
.formcontrols .blockrow .primary.full {
    width: 100%;
}

.formcontrols .posticons {
    overflow-y: hidden;
    overflow-x: scroll;
}

.formcontrols .blockrow .group.checkradio {
    margin: 25px 0 0 0;
    clear: both;
    float: none;
    max-width: 100%;
}

.formcontrols .blockrow dl.dep_group dd {
 	margin: 0px;
    margin-top: 20px;
}

/* Search */
#searchtypelist {
    width: 100%;
	margin: 0px;
    margin-top: 20px;
}

/* Search end */

/* New thread end*/

/* Disable fullscreen image viewer */
.PopupImage {
    display: none !important;
}

/* Poll */
#pollinfo {
    margin: 0px 0px 5px 0px;
    padding-right: 25px;
}

.polloptionsblock {
    padding-left: 10px;
    background: #f3f3f3;
}

#pollresults li p {
    width: 100%;
    font-weight: bold;
}

#pollresults li .votes .pollbarwrapper {
    float: none;
}

#pollresults li .votes .numvotes {
    font-weight: bold;
    line-height: 15px;
}

#pollresults li .percentvotes {
    position: relative;
    font-weight: bold;
    line-height: 17px;
}
/* Poll end */